<div class="w-screen h-screen flex bg-red-50 relative">
  <!-- بک‌گراندها -->
  <div class="w-1/2 h-full bg-[url('./assets/Image/backgroud/right2.jpg')] bg-cover bg-center bg-no-repeat"></div>
  <div class="w-1/2 h-full bg-[url('./assets/Image/backgroud/left2.jpg')] bg-cover bg-center bg-no-repeat"></div>

  <!-- فرم وسط با flex -->
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="bg-white w-[50%] max-w-[500px] h-[500px] p-4 rounded-xl shadow-xl flex flex-col items-center justify-between">
      <div class="relative">
        <img src="assets/Image/logo/logo.png" alt="لوگو سایان رایان" class="w-48" />
      </div>
      
      <div class="w-full">
        
        <app-login></app-login>
      </div>

    </div>
  </div>
</div>
